// assets/scss/_components.scss
@use "sass:color";
@use "assets/mixins" as *;
@use "assets/variables" as *;

.button {
    padding: $spacing-small $spacing-medium;
    background-color: $secondary-color;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 4px solid color.adjust($secondary-color, $lightness: -10%);
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);

    &:hover {
        box-shadow: 0 0 rgba(0, 0, 0, 0.4);
        border-bottom-width: 2px;
        transform: translateY(2px);
    }
}


.card {
    background-color: #fff;
    border-radius: 4px;
    padding: $spacing-medium;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}