// assets/scss/_layout.scss
@use "sass:color";
@use "assets/mixins" as *;
@use "assets/variables" as *;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-medium;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -$spacing-small;
}

.col {
    flex: 1;
    padding: $spacing-small;
}