// assets/scss/_mixins.scss

// Media Query Mixin
@mixin respond-to($breakpoint) {
    @if $breakpoint ==tablet {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (max-width: 992px) {
            @content;
        }
    }
}

// Flex Centering
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}