// assets/scss/_utilities.scss

.mt-small {
    margin-top: $spacing-small;
}

.mt-medium {
    margin-top: $spacing-medium;
}

.mt-large {
    margin-top: $spacing-large;
}

.p-small {
    padding: $spacing-small;
}

.p-medium {
    padding: $spacing-medium;
}

.p-large {
    padding: $spacing-large;
}